.itemCardContenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 1rem;
    padding: 1rem;
    background-color: rgba(5, 184, 197, 0.829);
    border-radius: 1rem;
    width: 65%;
    max-width: 35rem;
}

.itemCardContenedor:hover {
    transform: translateY(-5.5px);
    box-shadow: 3.5px 3.5px 4px 2px grey;
}

.itemCardTitulo {
    font-weight: bolder;
    color: black;
}

.itemCardImg:hover {
    border: red;
}

.carrito {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.productos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(56, 55, 55);
}

.BotonDetalle {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    border-radius: 1rem;
}

.BotonDetalle:hover {
    transform: translateY(-5px);
    background-color: beige;
    color: black;
}

.verDetalle {
    list-style: none;
    margin: 0rem;
    padding: 1rem;
}


.contenedorCounter {
    margin: 1rem;
}

.contarMenos {
    background-color: rgb(0, 22, 68);
    color: white;
}

.contarMenos:hover {
    transform: scale(1.1)
}

.contarMas {
    background-color: rgb(0, 22, 68);
    color: white;
}

.contarMas:hover {
    transform: scale(1.1)
}

.spanCounter {
    font-weight: bolder;
    margin: 0rem .5rem 0rem .5rem;
}

.user {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15rem;
    margin-right: 2rem;
    font-size: 2rem;
}

#iconLogin {
    margin: 5rem;
    color: grey;
    width: 6rem;
    height: 6rem;
}

.botonAgregar {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 15rem;
    height: 2rem;
    background-color: rgb(70, 190, 90);
    border-radius: .5rem;
    margin-top: 1rem;
}

.botonAgregar:hover{
    background-color: rgb(0, 153, 89);
}

.botonAgregar:hover {
    transform: scale(1.12)
}

.botonComprar {
    background-color: rgb(146, 5, 5);
    color: rgb(255, 255, 255);
    padding: .5rem 2rem;
    margin-bottom: 5rem;
    border-radius: 2rem;
}

.botonComprar:hover {
    background-color: rgb(255, 0, 0);
    transform: scale(1.1);
}

.count {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginImg {
    width: 6rem;
    height: 6rem;
}

img {
    border-radius: 2rem;
}

#imgDetail {
    margin-top: 4rem;
    width: 80%;
    border-radius: 2rem;
}

.carritoContenedor {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 4rem;
    background-color: rgb(238, 238, 114);
    border-radius: 2rem;
}

.contenedorItemCarrito{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.itemCarrito {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 1rem;
}

.imgCarrito {
    margin: 1rem;
    max-width: 20rem;
}

@media screen and (max-width: 1150px) {
    .contenedorItemCarrito{
        display: flex;
        flex-direction: column;
        width: 50%;
        font-size: .8rem;
    }

    .contenedorItemCarrito button{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .carritoContenedor{
        margin: 4rem 1rem;
    }

    .imgCarrito{
        width: 100%;
        margin-left: 2rem;
    }

    .itemCarrito{
        margin: .5rem 0rem;
    }

    .carritoContenedor{
        justify-content: space-around;
    }

    .contenedorImgCarrito{
        width: 50%;
    }
}

.contenedorItemCarrito strong{
    margin: 0rem .5rem;
}

.h1Carrito {
    margin-top: 1rem;
    height: 7rem;
    background-color: rgba(251, 255, 6, 0.925);
    display: flex;
    justify-content: center;
    align-items: center;
}

.colorPrecioTotal {
    color: green;
}

.inputFinalizar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
}

.formContenedor {
    font-size: 1.3rem;
    background-color: rgb(41, 39, 39);
    padding-top: 3rem;
    margin-bottom: 3rem;
}

input {
    width: 25;
    background-color: rgb(75, 72, 72);
    border-radius: 1rem;
    margin-right: 0rem;
}

.eliminar {
    width: 3rem;
    height: 3rem;
    color: red;
    border: transparent;
    background-color: rgb(238, 238, 114);
    font-size: 1.2rem;
}

.eliminar:hover {
    transform: scale(1.2);
}

.h2form {
    color: white;
}

.borrarDatosForm {
    margin: 2rem;
    border-radius: 1rem;
    background-color: black;
    color: white;
}

.borrarDatosForm:hover {
    transform: scale(1.1);
    background-color: rgb(48, 46, 46);
}

.divLogo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: -2rem;
}

.divLogo img {
    width: 10rem;
    margin-left: 1rem;
}

button {
    border-color: transparent;
}

button:hover {
    cursor: pointer;
}

input {
    padding: .5rem;
    border-color: transparent;
}

.me-auto {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.me-auto a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto .5rem;
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 1.2rem;
    width: 95%;
}

.me-auto a:hover {
    color: rgb(5, 165, 214);
}

.dropdown-item a {
    color: grey;
}

.containerLinksA {
    display: flex;
    width: 100%;
}

.containerLinksA a {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 991px) {
    .containerLinksA {
        flex-direction: column;
    }

    .containerLinksA a {
        justify-content: center;
    }
}

.itemCardContenedor img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1.5rem auto;
    width: 80%;
}

.divLogo h3 {
    font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.contDetail {
    padding: 4rem 2rem;
    background-color: black;
}

.containerProductDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem auto;
    color: white;
    padding: 3.5rem;
    background-color: rgb(39, 38, 38);
    border-radius: 1rem;
    max-width: 35rem;
}

.containerCartEmpty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
    flex-direction: column;
    background-color: rgb(248, 248, 118);
}

.iconHome{
    font-size: 5rem;
    margin-top: 1rem;
    color: rgb(89, 182, 3);
}

.iconHome:hover{
    transform: scale(1.1);
    color: rgb(13, 49, 4);
}

.iconMain{
    font-size: 1.5rem;
}

.contarMas, .contarMenos{
    width: 3rem;
    font-size: 1.2rem;
    font-weight: bolder;
    border-radius: 50%;
    padding: .5rem;
}